.page {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    font-family: var(--font-geist-sans), serif;
    gap: 64px;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 32px;
    flex: 1;
    width: 100%;
    padding: 0 80px;
    box-sizing: border-box;
}
.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.streamBox{
    margin-top: 5%;
    background-color: #010416;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    width:50vw;
    height: 30vw;
    text-align: center;
    justify-content: center;
}


.streamBox iframe {
    width: 100%;
    height: 100%;
    border: none;
}
