
.container{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    width: 75%;
    margin: 1vw;
    height: 14vw;
}
.container h2{
    font-size: 3vw;
}
.header{
    height: 8vw;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mission{

}

.team{

}

.how{
}
