
.main {
    height: 53.7vw;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}

.tab {
    position: relative;
    width: 6vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tabNumber:hover{
    background-color: #010416;
    color: white;
}

.tabText {
    width: 95%;
    height: 95%;
    border-radius: 2px;
    border: 1px solid #010416;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5vw;
    z-index: 1;
}


.active {
    color: white;
    background-color: rgba(0.0,0.0,0.0,1.0);
    color: rgba(0.0,0.0,0.0,1.0);
    border: #010416
}
.divider {
    height: 1px;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.8);
    align-self: center;
    margin: 1vw auto;
}
.boardView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88.5%;
}
.gifPlaceholder {
    width: 90%;              /* wide like the steps */
    height: 15vw;            /* enough space for GIF */
    border: 2px dashed rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1vw;
    margin: 1vw 0;
}
